<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>this site was created by Xinhe Yang. It uses data from mapbox.com and</p>
        <img class="portrait" src='/img/IMG_0071.jpg'>
    </div>
    {{>footer}}


</body>

</html>